<div class="mx-auto site-size flex pl-10">
  <%= link_to "Paintings >", paintings_path %>
  <h2 class="pl-2"> <%= @painting.name %> </h2>
</div>
<div class="h-full w-full flex flex-col relative">

  <div class="site-size h-full flex flex-col md:flex-row mt-4 p-10">
    <div class="image flex items-center relative" data-controller="carousel">
      <% @painting.images.each.with_index do |image, index| %>
        <div class="hidden image" id="image-<%= index %>" data-carousel-target="image" data-index="<%= index %>" data-reflex-permanent>
          <%= image_tag(image, class: "w-full h-full") %>
        </div>
      <% end %>
      <div class="carousel-buttons h-full flex absolute">
        <a data-action="carousel#previousImage" class="h-full h-full flex items-center px-2 cursor-pointer text-gray-300 hover:text-gray-400"><i class="fas fa-angle-left fa-2x"></i></a>
        <a data-action="carousel#nextImage" class="ml-auto h-full flex items-center px-2 cursor-pointer text-gray-300 hover:text-gray-400"><i class="fas fa-angle-right fa-2x"></i></a>
      </div>
    </div>
    <div class="md:ml-auto h-full w-full md:w-1/2 flex flex-col items-center">
      <h2 class="typewriter text-4xl pt-10 my-10 text-center"> <%= @painting.name %> </h2>
      <br>
      <a class="cursor-pointer select-none mt-10 min-h-10 w-3/4 py-4 border-2 border-black flex justify-center items-center">
        <%= @painting.in_stock? ? "Buy now" : "Out of stock" %>
      </a>
      <div class="w-full h-full" add_to_cart_button>
        <%= render "paintings/add_to_cart_button", locales: {order_item: @order_items, painting: @painting } %>
      </div>
      <br>
      <div class="w-3/4 mx-auto flex mt-4">
        <h3 class="text-xl"> Price <%= number_to_currency(@painting.price) %> | </h3>
        <h3 class="pl-2 text-xl"> Size <%= @painting.size %> </h3>
      </div>
    </div>
  </div>
</div>
