<nav class="site-size navbar typewriter min-h-10 px-4 py-4 w-full bg-gray-200 flex items-center justify-between top-0 z-10 border-t-2 border-b-2 border-black" data-controller="navbar">
  <div class="w-full flex items-center">
    <%= link_to "Art Flow", root_path, :class => "#{is_active_by_action?("home")} text-xl md:text-3xl" %>
    <%= link_to "Paintings", paintings_path, :class => "#{is_active_by_action?("index")} md:inline hidden text-lg md:text-xl ml-8 hover:text-blue-400" %>
    <%= link_to "About", about_path, :class => "#{is_active_by_action?("about")} hidden md:inline text-md md:text-lg ml-8 hover:text-blue-400" %>
    <%= link_to "Contact", contact_path, :class => "#{is_active_by_action?("contact")} hidden md:inline text-md md:text-lg ml-8 hover:text-blue-400" %>
  </div>

  <div class="mr-6 flex items-center min-w-10">
    <% if @order_items %>
      <button class="cart-button" data-action="navbar#openCart">
        <i class="fa fa-shopping-bag text-2xl"></i>
      </button>
      <p class="text-xl pl-2" cart_count>
        <% if @order_items.count != 0 %>
          <%= @order_items.count %>
        <% end %>
       </p>
     <% end %>
  </div>
  <button class="md:hidden" data-action="navbar#openNavDropdown">
    <i class="fas fa-bars text-2xl"></i>
  </button>
</nav>
