<!DOCTYPE html>
<html>
  <head>
    <title>ArtFlow</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200 h-auto">
    <div class="body-container h-auto" data-reflex-root="[order_items],[add_to_cart_button], [cart_count]">
      <%= render "layouts/top_section" %>
      <div class="h-full site-size sticky top-0 left-0 right-0 z-50">
        <div class="w-full h-full relative">
          <%= render "layouts/navbar" %>
          <%= render 'cart/sidebar_cart' %>
        </div>
      </div>
      <%= render "layouts/alerts" %>
      <div class="fifteen-rem-margin">

      </div>
      <%= yield %>
    </div>
  </body>
</html>
